body {
  font-family: "Chelsea Market", cursive;
  display: flex;
  background: url("../img/wooden-bg.jpg") center no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 2px 5px 15px 22px rgba(80, 40, 0, 1.9);
  cursor: pointer;
}

th {
  /* background: cornsilk; */
  background: url("../img/dark-bg.jpg");
  /* color: #460404; */
  color: #ae6f2b;
  font-size: 20px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: cornsilk;
  color: #460404;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background: #460404;
  color: cornsilk;
}

td {
  width: 50px;
  height: 50px;
  font-size: 40px;
  padding: 0;
  line-height: 0;
}

.ready {
  text-shadow: 0 0 2px gold;
  box-shadow: inset 0 0 3px 2px gold;
}

.active {
  /* text-shadow: 0 0 2px #9effb1;
  box-shadow: inset 0 0 3px 2px #9effb1; */
  box-shadow: inset 0px 0px 14px 5px rgba(154, 227, 90, 1);
}

.move {
  box-shadow: inset 0px 0px 14px 5px rgba(154, 227, 90, 1);
}

thead th {
  height: 30px;
  border-bottom: 1px solid #460404;
}

tbody th {
  width: 30px;
}

tbody th:first-child {
  border-right: 1px solid #460404;
}

tbody th:last-child {
  border-left: 1px solid #460404;
}

tfoot th {
  height: 30px;
  border-top: 1px solid #460404;
}

th:first-child,
th:last-child {
  border-top: none;
  border-bottom: none;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  line-height: 0;
  box-sizing: border-box;
}
