body {
  font-family: "Chelsea Market", cursive;
  display: flex;
  background: url("img/wooden-bg.jpg") center no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 2px 5px 15px 22px rgba(80, 40, 0, 1.9);
  cursor: pointer;
}

th {
  /* background: cornsilk; */
  background: url("img/dark-bg.jpg");
  /* color: #975f25; */
  color: #ae6f2b;
  font-size: 20px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: cornsilk;
  color: #975f25;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: #975f25;
  color: cornsilk;
}

td {
  width: 50px;
  height: 50px;
  font-size: 40px;
  padding: 0;
  line-height: 0;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.ready {
  box-shadow: inset 0 0 5px 5px #fadf00;
}

.active {
  /* text-shadow: 0 0 2px #9effb1;
  box-shadow: inset 0 0 3px 2px #9effb1; */
  box-shadow: inset 0px 0px 14px 5px rgba(154, 227, 90, 1);
}

.move {
  box-shadow: inset 0px 0px 14px 5px rgba(154, 227, 90, 1);
}

thead th {
  height: 30px;
  border-bottom: 1px solid #975f25;
}

tbody th {
  width: 30px;
}

tbody th:first-child {
  border-right: 1px solid #975f25;
}

tbody th:last-child {
  border-left: 1px solid #975f25;
}

tfoot th {
  height: 30px;
  border-top: 1px solid #975f25;
}

th:first-child,
th:last-child {
  border-top: none;
  border-bottom: none;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  line-height: 0;
  box-sizing: border-box;
}

.undo {
  background: url(img/back.png) center no-repeat;
  padding: 20px;
}

.redo {
  background: url(img/next.png) center no-repeat;
  padding: 18.5px;
}

.btn {
  background-size: cover;
  cursor: pointer;
  border: none;
}

.btn:hover {
  padding: 23px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px gold;
}

.btn:active {
  background: gold;
  padding: 18.5px;
  border-radius: 50px;
}

.btn:focus {
  border: none;
  outline: none;
}

.btns {
  position: absolute;
  top: 20%;
  left: 47.5%;
}

[data-color="white"] > [data-figure="rook"] {
  background: url("img/icons/rook_white.png");
}
[data-color="white"] > [data-figure="knight"] {
  background: url("img/icons/knight_white.png");
}
[data-color="white"] > [data-figure="bishop"] {
  background: url("img/icons/bishop_white.png");
}
[data-color="white"] > [data-figure="queen"] {
  background: url("img/icons/queen_white.png");
}
[data-color="black"] > [data-figure="rook"] {
  background: url("img/icons/rook_black.png");
}
[data-color="black"] > [data-figure="knight"] {
  background: url("img/icons/knight_black.png");
}
[data-color="black"] > [data-figure="bishop"] {
  background: url("img/icons/bishop_black.png");
}
[data-color="black"] > [data-figure="queen"] {
  background: url("img/icons/queen_black.png");
}

[data-figure][data-figure] {
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.pick-figure {
  margin: auto;
  background: url("img/dark-bg.jpg");
}

#glass {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  background: #0003;
}

[hidden] {
  display: none !important;
}

@media (max-width: 575px) {
  .btns {
    top: 91%;
    left: 41%;
  }
}
